# yaml-language-server: $schema=./topmodel.config.schema.json
---
app: KleeContrib.Asta
i18n:
  translateReferences: false
pluralizeTableNames: true
jpa:
  - tags: [back, commands, queries, api-commands]
    outputDirectory: ../sources/backend/src/main
    apiGeneration: Server
    metaModel: true
    resourcesPath: "resources/locale"
javascript:
  - tags: [front]
    outputDirectory: ../sources/frontend/src
    modelRootPath: model
    apiClientRootPath: services
    apiClientFilePath: "{module:head}"
    apiMode: angular
    resourceRootPath: locale
    domainPath: ./domains
    fetchPath: ./server
    extendedCompositions: true
sql:
  - tags:
      - persist
    outputDirectory: ../env/db/init
    procedural:
      crebasFile: "02_create_tables.sql"
      indexFKFile: "03_create_fk.sql"
      uniqueKeysFile: "04_create_uk.sql"
      initListFile: "05_init_data.sql"
