<nav>
    <div class="logo"><img ngSrc="logo.svg" alt="Logo" width="48" height="48" priority /></div>
    <ul class="menu">
        <li
            matRipple
            routerLink="/"
            class="menu-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            <mat-icon>home</mat-icon>
            <span class="menu-item-title">Accueil</span>
        </li>
        <li matRipple routerLink="/profils" class="menu-item" routerLinkActive="active">
            <mat-icon>settings</mat-icon>
            <span>Profiles</span>
        </li>
    </ul>
</nav>
