.field {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.field-label {
  font-weight: bold;
  margin-right: 1rem;
  font-size: large;
  display: flex;
}

.field-value {
  font-size: medium;
  display: flex;
}
