.display-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: large;
  display: flex;
}

.field-value {
  font-size: medium;
  display: flex;
  white-space: pre-wrap;
  word-break: break-word;
}
