<form class="utilisateur-informations-form" ngForm>
  <app-signal-field-for
    [fieldEntry]="UtilisateurWriteEntity.nom"
    [isEdit]="isEdit()"
    [formField]="utilisateurSignalForm().nom"
  />
  <app-signal-field-for
    [fieldEntry]="UtilisateurWriteEntity.prenom"
    [isEdit]="isEdit()"
    [formField]="utilisateurSignalForm().prenom"
  />
  <app-signal-field-for
    [fieldEntry]="UtilisateurWriteEntity.email"
    [isEdit]="isEdit()"
    [formField]="utilisateurSignalForm().email"
  />
  <app-signal-field-for
    [fieldEntry]="UtilisateurWriteEntity.dateNaissance"
    [isEdit]="isEdit()"
    [formField]="utilisateurSignalForm().dateNaissance"
    [inputProps]="dateNaissanceInputProps"
  />
  <app-signal-field-for
    [fieldEntry]="UtilisateurWriteEntity.adresse"
    [isEdit]="isEdit()"
    [formField]="utilisateurSignalForm().adresse"
  />
  <app-signal-field-for
    [fieldEntry]="UtilisateurWriteEntity.actif"
    [isEdit]="isEdit()"
    [formField]="utilisateurSignalForm().actif"
  />
  <app-signal-select-for
    [formField]="utilisateurSignalForm().typeUtilisateurCode"
    [fieldEntry]="UtilisateurWriteEntity.typeUtilisateurCode"
    [isEdit]="isEdit()"
    [data]="typeUtilisateurFieldOptions().data"
    [ref]="typeUtilisateurFieldOptions().ref"
  />
  <app-signal-select-for
    [formField]="utilisateurSignalForm().profilId"
    [fieldEntry]="UtilisateurWriteEntity.profilId"
    [isEdit]="isEdit()"
    [data]="profilsFieldOptions().data"
    [ref]="profilsFieldOptions().ref"
  />
</form>
