<h2>{{ profils.value().length }} profils</h2>
<table mat-table [dataSource]="profils.value()" class="mat-elevation-z8">
  <ng-container matColumnDef="libelle">
    <th mat-header-cell *matHeaderCellDef>Libelle du profil</th>
    <td mat-cell *matCellDef="let element">
      {{ element.libelle }}
    </td>
  </ng-container>

  <ng-container matColumnDef="nombreUtilisateurs">
    <th mat-header-cell *matHeaderCellDef>Nombre d'utilisateurs affectés</th>
    <td mat-cell *matCellDef="let element">{{ element.nombreUtilisateurs }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [routerLink]="[row.id]"
    aria-details="Redirige vers la page de détail du profil"
  ></tr>
</table>
